@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3b82f6;
  --primary-hover: #60a5fa;
  --secondary-color: #eee;
  --secondary-hover: #cac2c2;
  --danger-color: #f44336;
  --danger-hover: #d31609;
  --success-color: #4caf50;
  --success-hover: #0d8611;
  --warning-color: #ff9800;
  --info-color : #181868;
  --default-hover : #D1D5DB;
  --default-black : #333333;
  
}


a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

.line-height {
  line-height: 1.6rem;
}