<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/components/card/card.css">
    <title>Card</title>
</head>
<body>

    <h2>Text Only Card</h2>
    <div class="card-text">
        <span class="card-unavailable hide">Currently unavailable</span>
        <div class="horizontal-card hide-hz">
            <div class="card-horizontal-image">
                <img src="/images/cricket-bat1.jpg" alt="img">
                <span class="badge-new hide">New</span>
                <span class="delete-icon hide">&times;</span>
            </div>
            <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
                </div>
                <div class="card-brief-detail">
                   <p>Cricket Shoes for Mens - Lightweight, maximized Grip & Quick Actions</p>
                </div>
                <div class="card-price">
                   Rs.
                   <span class="price">1,19,900</span>
                   <span class="price text-strike-over">1,19,900</span>
                   <span class="price text-discount">10%</span>
                </div>
                <div class="card-btn">
                <button class="btn btn-primary">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                </button>
                <button class="btn btn-primary-outline">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Wishlist
                </button>
               </div>
            </div>
        </div>

        <div class="card-text-only">
            <div class="header">
                <h1 class="heading">Heading</h1>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
            </div>
        </div>
    </div>

    <h2>Horizontal Card</h2>
    <div class="card-horizontal-wrapper">
        <span class="card-unavailable hide">Currently unavailable</span>
        <div class="horizontal-card">
            <div class="card-horizontal-image">
                <img src="/images/samsungs215g.jpeg" alt="img">
                <span class="badge-new hide">New</span>
                <span class="delete-icon hide">&times;</span>
            </div>
            <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">Samsung Galaxy S21 5G</h1>
                    <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
               </div>
               <div class="card-brief-detail">
                   <p>(Phantom Violet, 8GB, 128GB Storage) with No Cost EMI/Additional Exchange Offers</p>
               </div>
               <div class="card-price">
                   Rs.
                   <span class="price">59,990</span>
                   <span class="price text-strike-over">Rs.83,999</span>
                   <span class="price text-discount">29%</span>
               </div>
               <div class="card-btn">
                <button class="btn btn-primary">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                </button>
                <button class="btn btn-primary-outline">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Wishlist
                </button>
               </div>
            </div>
        </div>

        <div class="card-text-only hide">
            <div class="header">
                <h1 class="heading">Heading</h1>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
            </div>
        </div>
    </div>

    <h2>Vertical Card</h2>
    <div class="card-wrapper">
        <span class="card-unavailable hide">Currently unavailable</span>
        <div class="card">
            <div class="card-image">
                <img src="/images/iphone13pro.jpeg" alt="img">
                <span class="badge-new hide">New</span>
                <span class="delete-icon hide">&times;</span>
            </div>
            <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
               </div>
               <div class="card-brief-detail">
                   <p>Sierra Blue</p>
               </div>
               <div class="card-price">
                   Rs.
                   <span class="price">1,19,900</span>
                   <span class="price text-strike-over">Rs.1,20,900</span>
                   <span class="price text-discount">10%</span>
               </div>
               <div class="card-btn">
                <button class="btn btn-primary">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                </button>
                <button class="btn btn-primary-outline hide">
                    <span class="icon"><i class="fas fa-shoping-cart"></i></span>
                    Add to Wishlist
                </button>
               </div>
            </div>
        </div>

        <div class="card-text-only hide">
            <div class="header">
                <h1 class="heading">Heading</h1>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
            </div>
        </div>
    </div>

    <h2>Card with badge</h2>
    <div class="card-wrapper">
        <div class="card">
            <div class="card-image">
                <img src="/images/iphone13pro.jpeg" alt="img">
                <span class="badge-new">New</span>
            </div>
            <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
               </div>
               <div class="card-brief-detail">
                   <p>Sierra Blue</p>
               </div>
               <div class="card-price">
                   Rs.
                   <span class="price">1,19,900</span>
                   <span class="price text-strike-over">Rs.1,20,900</span>
                   <span class="price text-discount">10%</span>
               </div>
               <div class="card-btn">
                <button class="btn btn-primary">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                </button>
               </div>
            </div>
        </div>
          
        <div class="card-text-only hide">
            <div class="header">
                <h1 class="heading">Heading</h1>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
            </div>
        </div>
    </div>

    <h2>Cards with dismiss</h2>
    <div class="card-wrapper js-dismiss">
        <span class="card-unavailable hide">Currently unavailable</span>
        <div class="card">
            <div class="card-image">
                <img src="/images/iphone13pro.jpeg" alt="img">
                <span class="badge-new">New</span>
                <span class="delete-icon">&times;</span>
            </div>
            <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
               </div>
               <div class="card-brief-detail">
                   <p>Sierra Blue</p>
               </div>
               <div class="card-price">
                   Rs.
                   <span class="price">1,19,900</span>
                   <span class="price text-strike-over">1,20,900</span>
                   <span class="price text-discount">10%</span>
               </div>
               <div class="card-btn">
                <button class="btn btn-primary-outline">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                </button>
                <button class="btn btn-primary-outline hide">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Wishlist
                </button>
               </div>
            </div>
        </div>

        <div class="card-text-only hide">
            <div class="header">
                <h1 class="heading">Heading</h1>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
            </div>
        </div>
    </div>


    <h2>text overlay Card</h2>
    <div class="card-wrapper card-text-overlay-wrapper">
        <span class="card-unavailable">Currently unavailable</span>
        <div class="card card-opacity">
            <div class="card-image">
                <img src="/images/iphone13pro.jpeg" alt="img">
                <span class="badge-new hide">New</span>
                <span class="delete-icon hide">&times;</span>
            </div>
            <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
               </div>
               <div class="card-brief-detail">
                   <p>Sierra Blue</p>
               </div>
               <div class="card-price">
                   Rs.
                   <span class="price">1,19,900</span>
                   <span class="price text-strike-over">1,20,900</span>
                   <span class="price text-discount">10%</span>
               </div>
               <div class="card-btn">
                <button class="btn btn-primary">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                </button>
                <button class="btn btn-primary-outline hide">
                    <span class="icon"><i class="fas fa-shoping-cart"></i></span>
                    Add to Wishlist
                </button>
               </div>
            </div>
        </div>
        <div class="card-text-only hide">
            <div class="header">
                <h1 class="heading">Heading</h1>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
            </div>
        </div>
    </div>


    <!-- shadow -->
    
    <h2>Cards with shadows</h2>
    <div class="shadow-card-wrapper">
        <div class="card-wrapper shadow-1">
        <span class="card-unavailable hide">Currently unavailable</span>
        <div class="card">
            <div class="card-image">
                <img src="/images/iphone13pro.jpeg" alt="img">
                <span class="badge-new hide">New</span>
                <span class="delete-icon hide">&times;</span>
            </div>
            <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
               </div>
               <div class="card-brief-detail">
                   <p>Sierra Blue</p>
               </div>
               <div class="card-price">
                   Rs.
                   <span class="price">1,19,900</span>
                   <span class="price text-strike-over">1,20,900</span>
                   <span class="price text-discount">10%</span>
               </div>
               <div class="card-btn">
                <button class="btn btn-primary">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                </button>
                <button class="btn btn-primary-outline hide">
                    <span class="icon"><i class="fas fa-shoping-cart"></i></span>
                    Add to Wishlist
                </button>
               </div>
            </div>
        </div>

        <div class="card-text-only hide">
            <div class="header">
                <h1 class="heading">Heading</h1>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
            </div>
        </div>
        </div>

        <div class="card-wrapper shadow-2">
        <span class="card-unavailable hide">Currently unavailable</span>
            <div class="card">
                <div class="card-image">
                    <img src="/images/iphone13pro.jpeg" alt="img">
                    <span class="badge-new hide">New</span>
                    <span class="delete-icon hide">&times;</span>
                </div>
                <div class="card-details">
                    <div class="card-item">
                        <h1 class="card-product-name">iPhone 13 Pro</h1>
                        <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
                   </div>
                   <div class="card-brief-detail">
                       <p>Sierra Blue</p>
                   </div>
                   <div class="card-price">
                       Rs.
                       <span class="price">1,19,900</span>
                       <span class="price text-strike-over">1,20,900</span>
                       <span class="price text-discount">10%</span>
                   </div>
                   <div class="card-btn">
                    <button class="btn btn-primary">
                        <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                        Add to Cart
                    </button>
                    <button class="btn btn-primary-outline hide">
                        <span class="icon"><i class="fas fa-shoping-cart"></i></span>
                        Add to Wishlist
                    </button>
                   </div>
                </div>
            </div>
    
            <div class="card-text-only hide">
                <div class="header">
                    <h1 class="heading">Heading</h1>
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
                </div>
            </div>
        </div>

        <div class="card-wrapper shadow-3">
        <span class="card-unavailable hide">Currently unavailable</span>
            <div class="card">
                <div class="card-image">
                    <img src="/images/iphone13pro.jpeg" alt="img">
                    <span class="badge-new hide">New</span>
                    <span class="delete-icon hide">&times;</span>
                </div>
                <div class="card-details">
                    <div class="card-item">
                        <h1 class="card-product-name">iPhone 13 Pro</h1>
                        <span class="icon icon-heart"><i class="fas fa-heart"></i></span>
                   </div>
                   <div class="card-brief-detail">
                       <p>Sierra Blue</p>
                   </div>
                   <div class="card-price">
                       Rs.
                       <span class="price">1,19,900</span>
                       <span class="price text-strike-over">1,20,900</span>
                       <span class="price text-discount">10%</span>
                   </div>
                   <div class="card-btn">
                    <button class="btn btn-primary">
                        <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                        Add to Cart
                    </button>
                    <button class="btn btn-primary-outline hide">
                        <span class="icon"><i class="fas fa-shoping-cart"></i></span>
                        Add to Wishlist
                    </button>
                   </div>
                </div>
            </div>
    
            <div class="card-text-only hide">
                <div class="header">
                    <h1 class="heading">Heading</h1>
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia vel sint.
                </div>
            </div>
        </div>
        
    </div>

    <script src="/components/card/card.js"></script>
</body>
</html>

