<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/input/input.css" />
    <title>Input</title>
  </head>
  <body>
    <div class="simple-input">
      <label class="label" for="input-text">Label</label>
      <input type="text" name="input" />
    </div>

    <br/>

    <div class="error-input">
      <label class="label" for="input-error">Label</label>
      <input type="text" class="err"/>
      <div class="error-message">Wrong Password. Try again.</div>
    </div>

    <br>
     
    <div class="success-input">
        <label class="label" for="input-success">Label</label>
        <input type="text" class="success"/>
        <div class="success-message">This is success message</div>
    </div>

  </body>
</html>
