<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/image component/image.css">
    <title>Images</title>
</head>
<body>
    <h1>Responsive Image</h1>
    <div class="img-wrapper">
        <img class="img-responsive" src="https://picsum.photos/250/250" alt="Responsive Image">
    </div>


    <h1>Rounded corner Image</h1>
    <div class="img-wrapper">
        <img src="https://picsum.photos/250/250" class="rounded-corner-img img-responsive " alt="Responsive image">
    </div>

    <h1>Round Image</h1>
    <div class="img-wrapper">
        <img src="https://picsum.photos/200/200" class="round-img img-responsive" alt="Responsive image">
    </div>
</body>
</html>