<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/components/button/button.css">
    <title>Buttons</title>
</head>
<body>
    <h3>Contained buttons</h3>

    <div class="button-wrapper">
        <button class="btn">Default</button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-disabled">Disabled</button>
    </div>

    <h3>Outlined buttons</h3>
    <div class="button-wrapper">
        <button class="btn btn-primary-outline">Primary</button>
        <button class="btn btn-secondary-outline">Secondary</button>
    </div>

    <h3>Link buttons</h3>
    <div class="button-wrapper">
        <button class="btn btn-primary-link"><a href="#">Primary</a></button>
        <button class="btn btn-secondary-link"><a href="#">Secondary</a></button>
    </div>

    <h3>buttons with icon</h3>
    <div class="button-wrapper">
        <button class="btn btn-delete btn-secondary">
            <span class="icon"><i class="far fa-trash-alt"></i></span>
            Delete
        </button>
        <button class="btn btn-primary">
            send
            <span class="icon"><i class="far fa-paper-plane"></i></span>
        </button>
        <button class="btn"><span class="icon"><i class="fas fa-cloud-upload-alt"></i></span>
            Upload
        </button>
        <button class="btn btn-primary">
            <span class="icon"><i class="far fa-save"></i></span>
            save
        </button>
    </div>

    <h3>Floating Action buttons</h3>
    <div class="button-wrapper">
        <button class="btn btn-primary btn-floating">
            <span class="icon"><i class="fas fa-plus"></i></span>
        </button>

        <button class="btn btn-primary btn-floating">
            <span class="icon"><i class="fas fa-pen"></i></span>
        </button>

        <button class="btn btn-secondary btn-delete btn-floating">
            <span class="icon"><i class="far fa-trash-alt"></i></span>
        </button>

        <button class="btn btn-primary btn-floating">
            <span class="icon"><i class="fas fa-arrow-up"></i></span>
        </button>
    </div>

    <h3>Sizes</h3>
    <div class="button-wrapper">
        <button class="btn btn-primary btn-small">small</button>
        <button class="btn btn-primary btn-large">large</button>
        <button class="btn btn-secondary btn-small">small</button>
        <button class="btn btn-secondary btn-large">large</button>
    </div>

</body>
</html>