<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/Grids/Grids.css">
    <title>Grids</title>            
</head>
<body>
    <h2>Grid 2 items</h2>
   
    <div class="grid-2-item-container">
        <div class="card-wrapper shadow-1">
            <span class="card-unavailable hide">Currently unavailable</span>
            <div class="card">
                <div class="card-image">
                <img class="img-cards" src="/images/iphone13pro.jpeg" alt="img" />
                <span class="badge-new hide">New</span>
                <span class="delete-icon hide">&times;</span>
                </div>
                <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon-card icon-heart"><i class="fas fa-heart"></i></span>
                </div>
                <div class="card-brief-detail">
                    <p>Sierra Blue</p>
                </div>
                <div class="card-price">
                    Rs.
                    <span class="price">1,19,900</span>
                    <span class="price text-strike-over">1,20,900</span>
                    <span class="price text-discount">10%</span>
                </div>
                <div class="card-btn">
                    <button class="btn-card btn-primary-card">
                    <span class="icon-card"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                    </button>
                    <button class="btn-card btn-primary-card-outline hide">
                    <span class="icon-card"><i class="fas fa-shoping-cart"></i></span>
                    Add to Wishlist
                    </button>
                </div>
                </div>
            </div>
    
            <div class="card-text-only hide">
                <div class="header">
                <h1 class="heading">Heading</h1>
                </div>
                <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum
                nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia
                vel sint.
                </div>
            </div>
        </div>

        <div class="card-wrapper shadow-1">
            <span class="card-unavailable hide">Currently unavailable</span>
            <div class="card">
                <div class="card-image">
                <img class="img-cards" src="/images/iphone13pro.jpeg" alt="img" />
                <span class="badge-new hide">New</span>
                <span class="delete-icon hide">&times;</span>
                </div>
                <div class="card-details">
                <div class="card-item">
                    <h1 class="card-product-name">iPhone 13 Pro</h1>
                    <span class="icon-card icon-heart"><i class="fas fa-heart"></i></span>
                </div>
                <div class="card-brief-detail">
                    <p>Sierra Blue</p>
                </div>
                <div class="card-price">
                    Rs.
                    <span class="price">1,19,900</span>
                    <span class="price text-strike-over">1,20,900</span>
                    <span class="price text-discount">10%</span>
                </div>
                <div class="card-btn">
                    <button class="btn-card btn-primary-card">
                    <span class="icon-card"><i class="fas fa-shopping-cart"></i></span>
                    Add to Cart
                    </button>
                    <button class="btn-card btn-primary-card-outline hide">
                    <span class="icon-card"><i class="fas fa-shoping-cart"></i></span>
                    Add to Wishlist
                    </button>
                </div>
                </div>
            </div>
    
            <div class="card-text-only hide">
                <div class="header">
                <h1 class="heading">Heading</h1>
                </div>
                <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum
                nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia
                vel sint.
                </div>
            </div>
        </div>
    </div>
    

    <h2>Grid 3 items</h2>
   
    <div class="grid-3-item-container">
        <div class="card-wrapper shadow-1">
    <span class="card-unavailable hide">Currently unavailable</span>
    <div class="card">
        <div class="card-image">
        <img class="img-cards" src="/images/iphone13pro.jpeg" alt="img" />
        <span class="badge-new hide">New</span>
        <span class="delete-icon hide">&times;</span>
        </div>
        <div class="card-details">
        <div class="card-item">
            <h1 class="card-product-name">iPhone 13 Pro</h1>
            <span class="icon-card icon-heart"><i class="fas fa-heart"></i></span>
        </div>
        <div class="card-brief-detail">
            <p>Sierra Blue</p>
        </div>
        <div class="card-price">
            Rs.
            <span class="price">1,19,900</span>
            <span class="price text-strike-over">1,20,900</span>
            <span class="price text-discount">10%</span>
        </div>
        <div class="card-btn">
            <button class="btn-card btn-primary-card">
            <span class="icon-card"><i class="fas fa-shopping-cart"></i></span>
            Add to Cart
            </button>
            <button class="btn-card btn-primary-card-outline hide">
            <span class="icon-card"><i class="fas fa-shoping-cart"></i></span>
            Add to Wishlist
            </button>
        </div>
        </div>
    </div>

    <div class="card-text-only hide">
        <div class="header">
        <h1 class="heading">Heading</h1>
        </div>
        <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum
        nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia
        vel sint.
        </div>
    </div>
        </div>

        <div class="card-wrapper shadow-1">
    <span class="card-unavailable hide">Currently unavailable</span>
    <div class="card">
        <div class="card-image">
        <img class="img-cards" src="/images/iphone13pro.jpeg" alt="img" />
        <span class="badge-new hide">New</span>
        <span class="delete-icon hide">&times;</span>
        </div>
        <div class="card-details">
        <div class="card-item">
            <h1 class="card-product-name">iPhone 13 Pro</h1>
            <span class="icon-card icon-heart"><i class="fas fa-heart"></i></span>
        </div>
        <div class="card-brief-detail">
            <p>Sierra Blue</p>
        </div>
        <div class="card-price">
            Rs.
            <span class="price">1,19,900</span>
            <span class="price text-strike-over">1,20,900</span>
            <span class="price text-discount">10%</span>
        </div>
        <div class="card-btn">
            <button class="btn-card btn-primary-card">
            <span class="icon-card"><i class="fas fa-shopping-cart"></i></span>
            Add to Cart
            </button>
            <button class="btn-card btn-primary-card-outline hide">
            <span class="icon-card"><i class="fas fa-shoping-cart"></i></span>
            Add to Wishlist
            </button>
        </div>
        </div>
    </div>

    <div class="card-text-only hide">
        <div class="header">
        <h1 class="heading">Heading</h1>
        </div>
        <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum
        nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia
        vel sint.
        </div>
    </div>
        </div>

        <div class="card-wrapper shadow-1">
    <span class="card-unavailable hide">Currently unavailable</span>
    <div class="card">
        <div class="card-image">
        <img class="img-cards" src="/images/iphone13pro.jpeg" alt="img" />
        <span class="badge-new hide">New</span>
        <span class="delete-icon hide">&times;</span>
        </div>
        <div class="card-details">
        <div class="card-item">
            <h1 class="card-product-name">iPhone 13 Pro</h1>
            <span class="icon-card icon-heart"><i class="fas fa-heart"></i></span>
        </div>
        <div class="card-brief-detail">
            <p>Sierra Blue</p>
        </div>
        <div class="card-price">
            Rs.
            <span class="price">1,19,900</span>
            <span class="price text-strike-over">1,20,900</span>
            <span class="price text-discount">10%</span>
        </div>
        <div class="card-btn">
            <button class="btn-card btn-primary-card">
            <span class="icon-card"><i class="fas fa-shopping-cart"></i></span>
            Add to Cart
            </button>
            <button class="btn-card btn-primary-card-outline hide">
            <span class="icon-card"><i class="fas fa-shoping-cart"></i></span>
            Add to Wishlist
            </button>
        </div>
        </div>
    </div>

    <div class="card-text-only hide">
        <div class="header">
        <h1 class="heading">Heading</h1>
        </div>
        <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum
        nobis aspernatur quibusdam quisquam sunt repudiandae non mollitia
        vel sint.
        </div>
    </div>
        </div>
    </div>

    
    
</body>
</html>