<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <title>Avatar</title>
</head>
<body>
    <h3>simple</h3>
    <img class="avatar" src="/components/avatar/large-img.jpeg" alt="">

    <h3>different sizes</h3>
    <div class="avatar-sizes">
        <div><img class="avatar avatar-large" src="/components/avatar/large-img.jpeg" alt=""></div>
        <div><img class="avatar avatar-meduim" src="/components/avatar/medium.jpeg" alt=""></div>
        <div><img class="avatar avatar-small" src="/components/avatar/small.jpeg" alt=""></div>
    </div>
</body>
</html>