<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <title>Avatar</title>
</head>
<body>
      
    <h2>Profile avatar</h2>
    <img class="avatar" src="/images/large-img.jpeg">
    <img class="avatar" src="/images/profile-image1.svg">
    <img class="avatar img-cover" src="/images/profile-image2.jpeg">

    <h2>avatar in sizes</h2>
    <div class="avatar-sizes">
        <div><img class="avatar avatar-large" src="/images/large-img.jpeg" alt=""></div>
        <div><img class="avatar avatar-meduim" src="/images/medium.jpeg" alt=""></div>
        <div><img class="avatar avatar-small" src="/images/small.jpeg" alt=""></div>
    </div>

</body>
</html>