<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/components/Navbar/navbar.css" />
    <title>Navbar</title>
  </head>
  <body>
    <h2>Standard</h2>
    <div class="navbars-container">
      <header class="header">
        <div class="menu-container">
          <div class="menu-bar">
            <i class="fas fa-bars"></i>
          </div>
          <div class="text">San Francisco</div>
        </div>
        <div class="items">
          <i class="fas fa-download"></i>
          <i class="fas fa-print"></i>
          <i class="fas fa-bookmark"></i>
        </div>
      </header>
    </div>

    <h2>Only Heading</h2>
    <div class="navbars-container">
      <header class="header header-short">
        <div class="menu-container">
          <div class="menu-bar">
            <i class="fas fa-bars"></i>
          </div>
          <div class="text">San Francisco</div>
        </div>
      </header>
    </div>

    <h2>Prominent</h2>
    <div class="navbars-container">
      <header class="header header-prominent">
        <div class="menu-bar">
          <i class="fas fa-bars"></i>
        </div>
        <div class="text text-prominent">San Francisco</div>

        <div class="items">
          <i class="fas fa-bookmark"></i>
          <i class="fas fa-print"></i>
          <i class="fas fa-bookmark"></i>
        </div>
      </header>
    </div>

    <h2>Prominent and dense</h2>
    <div class="navbars-container">
      <header class="header header-prominent-dense">
        <div class="menu-bar">
          <i class="fas fa-bars"></i>
        </div>
        <div class="text text-prominent">San Francisco</div>

        <div class="items">
          <i class="fas fa-bookmark"></i>
          <i class="fas fa-print"></i>
          <i class="fas fa-bookmark"></i>
        </div>
      </header>
    </div>

    <h2>Navbar with Input</h2>
    <div class="navbars-container">
      <header class="header">
        <div class="menu-container">
          <div class="menu-bar">
            <i class="fas fa-bars"></i>
          </div>
          <div class="text">San Francisco</div>
        </div>
        <div class="items">
          <input class="input-for-nav" type="text" placeholder="Search..." />
          <i class="fas fa-download"></i>
          <i class="fas fa-print"></i>
          <i class="fas fa-bookmark"></i>
        </div>
      </header>
    </div>
  </body>
</html>
