<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/toast/toast.css">
    <title>toast</title>
</head>
<body>
    <div class="toast-container toast-success">
        <p class="toast-description" >Successfully logged in</p>
        <span class="toast-cancle-icon" >&times;</span>
    </div>
    <div class="toast-container toast-warning">
        <p class="toast-description" >Oops! password is too weak</p>
        <span class="toast-cancle-icon" >&times;</span>
    </div>
    <div class="toast-container toast-danger">
        <p class="toast-description" >Sorry! Email is not registered yet</p>
        <span class="toast-cancle-icon" >&times;</span>
    </div>
</body>
</html>