<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/list/list.css">
    <title>Document</title>
</head>
<body>
    <h2>Unordered list</h2>
    <br>

    <div class="wrapper">
        <ul class="style-list"> 
            <li>list item1</li>
            <li>list item2</li>
            <li>list item3</li>
        </ul>

        <ul class="style-list list-style-square"> 
            <li>list item1</li>
            <li>list item2</li>
            <li>list item3</li>
        </ul>

        <ul class="style-list list-style-circle"> 
            <li>list item1</li>
            <li>list item2</li>
            <li>list item3</li>
        </ul>
    </div>

    <h2>Ordered list</h2>
    <br>

    <div class="wrapper">
        <ol class="style-list">
            <li>List item with numbers</li>
            <li>List item with numbers</li>
            <li>List item with numbers</li>
        </ol>

        <ol class="style-list li-lower_roman">
            <li>List item with lower roamn</li>
            <li>List item with lower roamn</li>
            <li>List item with lower roamn</li>
        </ol>

        <ol class="style-list li-upper_roman">
            <li>List item with upper roamn</li>
            <li>List item with upper roamn</li>
            <li>List item with upper roamn</li>
        </ol>

        <ol class="style-list li-upper_alpha ">
            <li>List item with upper alphabet</li>
            <li>List item with upper alphabet</li>
            <li>List item with upper alphabet</li>
        </ol>

        <ol class="style-list li-lower_alpha ">
            <li>List item with upper alphabet</li>
            <li>List item with upper alphabet</li>
            <li>List item with upper alphabet</li>
        </ol>
    </div>


    <h2>Stacked list</h2>
    <br>

    <div>
        <ul class="stacked-list">
            <li class="li-stacked">Notification 1</li>
            <li class="li-stacked">Notification 2</li>
            <li class="li-stacked">Notification 3</li>
            <li class="li-stacked">Notification 4</li>
        </ul>
    </div>

    

    <h2>Select List Groups</h2>
    
    <div class="list-group">
        <label for="Apple">
            <input id="Apple" name="checkbox" type="checkbox" checked>
            Apple
        </label>
        <label for="Redmi">
            <input id="Redmi" name="checkbox" type="checkbox">
            Redmi 
        </label>
        <label for="Samsung">
            <input id="Samsung" name="checkbox" type="checkbox">
            Samsung
        </label>
    </div>

</body>
</html>