<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="rating.css">
    <title>Document</title>
</head>
<body>
    <h3>Number rating</h3>
    <div class="rating-wrapper margin-bottom">
        <section class="number-rating">
            <span class="rat-num">4.2</span>
            <span class="rat-icon"><i class="fas fa-star"></i></span>
        </section>
        <span class="rat-count">(2,515)</span>
    </div>

    <h3>Read only rating</h3>

    <div class="rating-wrapper">
        <section class="rat-star-icons">
            <span class="rat-active"><i class="fas fa-star"></i></span>
            <span class="rat-active"><i class="fas fa-star"></i></span>
            <span class="rat-active"><i class="fas fa-star"></i></span>
            <span class="rat-active"><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
        </section>
        <span class="rat-count">(2,515)</span>
    </div>
    

</body>
</html>