<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/components/badge/badge.css">
    <title>Badges</title>
</head>
<body>
    <h2>Badges With avatar</h2>
    <br>
    <div class="avatar-sizes">
        <div class="badge">
            <img class="avatar avatar-large" src="/images/large-img.jpeg" alt="">
            <span class="badge-avatar status-online"></span>
        </div>
        <div class="badge"> 
            <img class="avatar avatar-meduim" src="/images/medium.jpeg" alt="">
            <span class="badge-avatar status-away"></span>
        </div>
        <div class="badge">
            <img class="avatar avatar-small" src="/images/small.jpeg" alt="">
            <span class="badge-avatar status-dnd"></span>
        </div>
    </div>

    <h2>Badges With icons</h2>
    <br>
    <div class="badge-icon-wrapper">
        <div class="badge-icon">
            <span class="icon"><i class="fas fa-shopping-cart"></i></span>
            <span class="badge-number">2</span>
        </div>
        <div class="badge-icon">
            <span class="icon"><i class="far fa-bell"></i></span>
            <span class="badge-number">2</span>
        </div>
    </div>
</body>
</html>