@import "/default.css";

body {
    margin: 2rem;
}

.avatar-sizes {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: aliceblue;
    margin-bottom: 2rem;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
}

.avatar-sizes div {
    align-self: flex-end;
    margin-right: 1.5rem;
}

.avatar-large {
    width:8rem;
    height: 8rem;
}

.avatar-meduim {
    width: 6rem;
    height: 6rem;
}

.avatar-small {
    width: 4rem;
    height: 4rem;
}

.badge {
    position: relative;
}

.badge-avatar {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: black;
    bottom: 4%;
    right: 6%;
    border-radius: 50%;
    border: 2px solid white;
}

.status-online {
    background-color: green;
}

.status-away  {
    background-color: orange;
}

.status-away::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    background-color: #fff;

}

.status-dnd {
    background-color: red;
}

.status-dnd::after {
    content: '';
    position: absolute;
    top: 43%;
    left: 15%;
    background-color: #111;
    width: 65%;
    height: 25%;
}


/* badge with icon */

.badge-icon-wrapper {
    display: flex;
    
}

.badge-icon {
    position: relative;
    text-align: center;
    margin-right: 1rem;
}

.icon-badge {
    font-size: 1.7rem;
}

.badge-number {
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    top: -23%;
    right: -31%;
    border-radius: 50%;
    font-size: .8rem;
    color: white;
    background-color: var(--primary-color);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


