<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/components/alert/alert.css">
    <title>Alert</title>
</head>
<body>
    <div class="wrapper-alert" id="alert"> 
        <div class="alert alert-error">
            <span class="icon-alert"><i class="fas fa-exclamation-circle"></i></span>
            <span>This is an error alert — check it out!</span>
        </div>

        <div class="alert alert-warning">
            <span class="icon-alert"><i class="fas fa-exclamation-triangle"></i></span>
            <span>This is a warning alert — check it out!</span>
        </div>

        <div class="alert alert-info">
            <span class="icon-alert"><i class="fas fa-info-circle"></i></span>
            <span>This is an info alert — check it out!</span>
        </div>

        <div class="alert alert-success">
            <span class="icon-alert"><i class="far fa-check-circle"></i></span>
            <span>This is a success alert — check it out!</span>
        </div>
    </div>
</body>
</html>

