<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/text utilities/text.css">
    <title>Document</title>
  </head>
  <body>
    <h2>Headings</h2>
    <br>

    <h1>H1 - Heading 1</h1>
    <h2>H2 - Heading 2</h2>
    <h3>H3 - Heading 3</h3>
    <h4>H4 - Heading 4</h4>
    <h5>H5 - Heading 5</h5>
    <h6>H6 - Heading 6</h6>

    <br>

    <h2>Alignment</h2>
    <br>

    <div class="alignment">
        <h3 class="text-left">Left align</h3>
        <h3 class="text-center">Center-align</h3>
        <h3 class="text-right">Right Align</h3>
    </div>

    <br>
    <h2>Font Sizes</h2>
    <br>

    <p class="fs-6">Font size 6</p>
    <p class="fs-5">Font size 5</p>
    <p class="fs-4">Font size 4</p>
    <p class="fs-3">Font size 3</p>
    <p class="fs-2">Font size 2</p>
    <p class="fs-1">Font size 1</p>


    <br>
    <h2>Font Weight</h2>
    <br>

<div class="font-weight">
    <p class="fw-900">Font Weight 900</p>
    <p class="fw-700">Font Weight 700</p>
    <p class="fw-600">Font Weight 600</p>
    <p class="fw-400">Font Weight 400</p>
    <p class="fw-300">Font Weight 300</p>
</div>


<br>
<h2>Text Styles</h2>

<div class="text-styles">
    <p class="primary-color">This text is of Primary Color </p>
    <p class="gray-text">This text is of gray Color</p>
    <p class="error-color">This text is of Error Color</p>
    <p class="warning-color">This text is of Warning Color</p>
    <p class="success-color">This text is of Success Color</p>
    <p class="text-strike">This text has a line going through it.</p>
    <p class="text-underline">This text has a line underneath it.</p>
</div>


<br>


  </body>
</html>
